.burger {
    --width: 30px;
    --height: 30px;
    --height-line: 4px;
    --center: calc((var(--height) / 2) - (var(--height-line) / 2));
    --center-: calc((var(--height) / -2) - (var(--height-line) / -2));
    position: relative;
    z-index: 11;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--width);
    height: var(--height);
}

.burger__line {
    height: var(--height-line);
    width: 100%;
    background-color: rgb(187, 187, 203);;
    transition: transform 0.7s;
}

.burger_active .burger__line:nth-child(1) {
    transform: translateY(var(--center)) rotate(45deg);
}

.burger_active .burger__line:nth-child(2) {
    transform: scaleX(0);
}

.burger_active .burger__line:nth-child(3) {
    transform: translateY(var(--center-)) rotate(-45deg);
}

@media(min-width:992px) {
    .burger {
        display: none;
    }
}