.header {
    padding-bottom: 20px;
    background-color: rgb(28, 30, 83);
}

.header__wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: rgb(252, 217, 128);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header__contact-box {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.header__contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}


.header__contact-item {}

.header__contact-link {
    color: rgb(40, 41, 56);
}

.header__address {}

.header__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header__link {}

.header__icon {
    width: 21px;
    height: 20px;
    fill: rgb(40, 41, 56);
}

.logo__icon {
    position: relative;
    z-index: 100;
    width: 122px;
    height: 24px;
}