/* login css start */
.login {
    padding-top: 6%;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 15px;
}

.login__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-bottom: 40px;
}

.login__title {}

.login__form {
    max-width: 800px;
    width: 100%;
    padding: 30px 25px 30px;
    border-radius: 12px;
    background-color: rgb(244, 246, 252);
}

.login__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.login__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    font-weight: 500;
}

.login__input {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-weight: 400;
    font-size: 17px;
}

.login__input:focus {
    box-shadow: 0 0 0 1px rgb(40, 41, 56);
    outline: 1px solid rgba(0, 0, 0, 0.12);
}

.login__input::placeholder {
    color: rgb(0, 0, 0);
}

.login__forgot-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.login__forgot-link {
    color: rgb(40, 41, 56);
}

.login__btn-box {
    display: flex;
    justify-content: center;
}

.login__btn {
    flex-grow: 1;
    padding: 15px 50px 15px 50px;
    border-radius: 41px;
    background-color: rgb(40, 41, 56);
    color: rgb(244, 246, 252);
    font-size: 18px;
}

@media(min-width:768px) {

    .login__form {
        padding: 55px 75px 70px;
    }

    .login__box {
        flex-direction: row;
    }

    .login__input {
        padding: 15px 25px;
    }

    .login__btn {
        flex-grow: 0;
    }
}

/* login css end */