/* read-blog hero css */
.hero {
    padding-top: 6%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    max-width: 730px;
    margin-bottom: 15px;
    text-align: center;
}

.hero__name-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    text-wrap: nowrap;
}

.hero__name {
    opacity: 0.8;
}

.hero__date {}

.hero__img {
    margin-bottom: 80px;
}

.hero__contant {
    max-width: 800px;
}

.hero__small-title {
    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 30px;
}

.hero__text_bottom {
    margin: 0;
}

.hero__list {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    padding-left: 15px;
}

.hero__item {
    color: rgb(40, 41, 56);
}

.hero__item:not(:last-child) {
    margin-bottom: 10px;
}

.hero__small-img {
    margin-bottom: 55px;
}

/* read-blog hero css */