/* hero css start */

.hero {}

.hero__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
    width: 100%;
    min-height: 500px;
    padding: 6% 15px;
    background-color: rgb(244, 246, 252);
}

.hero__container {}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.hero__subtitle {
    margin-bottom: 5px;
    opacity: 0.8;
    transition: opacity 0.8s, transform 0.8s;
}

.hero__subtitle.scroll-anim {
    opacity: 0;
    transform: translateY(30px);
}

.hero__subtitle.scroll-anim_active {
    opacity: 1;
    transform: translateY(0);
}

.hero__title {
    margin-bottom: 25px;
    transition: opacity 1s, transform 1s;
}

.hero__title.scroll-anim {
    opacity: 0;
    transform: translateY(30px);
}

.hero__title.scroll-anim_active {
    opacity: 1;
    transform: translateY(0);
}

.hero__text {
    margin-bottom: 30px;
    text-align: center;
    color: rgba(40, 41, 56, 0.8);
    transition: opacity 1s, transform 1s;
}

.hero__text.scroll-anim {
    opacity: 0;
    transform: translateY(30px);
}

.hero__text.scroll-anim_active {
    opacity: 1;
    transform: translateY(0);
}

.hero__socials {
    display: flex;
    gap: 30px;
    transition: opacity 1s, transform 1s;
}

.hero__socials.scroll-anim {
    opacity: 0;
    transform: translateY(30px);
}

.hero__socials.scroll-anim_active {
    opacity: 1;
    transform: translateY(0);
}

.hero__icon {
    width: 27px;
    height: 25px;
    fill: rgb(40, 41, 56);
}

.hero-tabs-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__tabs {
    margin-bottom: 50px;
}

.hero__tab {
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    color: rgba(40, 41, 56, 0.7);
}

.hero__panels {}

.hero__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    gap: 30px;
    margin-bottom: 80px;
    transition: opacity 1s, transform 1s;
}

.hero__list.scroll-anim {
    opacity: 0;
    transform: translateY(30px);
}

.hero__list.scroll-anim_active {
    opacity: 1;
    transform: translateY(0);
}

.hero__item {
    display: none;
}

.hero__item:nth-child(-n + 3) {
    display: block;
}

.hero__item:nth-child(1) .hero__img-link {
    display: block;
    margin-bottom: 20px;
    padding: 4% 5%;
    background: linear-gradient(146.94deg, rgb(244, 237, 225) 19.068%, rgb(152, 177, 198) 101.627%);
}

.hero__item:nth-child(2) .hero__img-link {
    display: block;
    margin-bottom: 20px;
    padding: 4% 5%;
    background: linear-gradient(146.94deg, rgb(255, 211, 175) 19.068%, rgb(79, 86, 255) 101.627%);
}

.hero__item:nth-child(3) .hero__img-link {
    display: block;
    margin-bottom: 20px;
    padding: 4% 5%;
    background: linear-gradient(146.94deg, rgb(238, 188, 167) 19.068%, rgb(200, 200, 200) 101.627%);
}

.hero__item:nth-child(4) .hero__img-link {
    display: block;
    margin-bottom: 20px;
    padding: 4% 5%;
    background: linear-gradient(146.94deg, rgb(194, 231, 242) 19.068%, rgb(152, 164, 255) 101.627%);
}

.hero__img {}

.hero__item-title {
    margin-bottom: 10px;
    font-size: 24px;
}

.hero__item-text {
    margin-bottom: 20px;
}

.hero__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: rgb(27, 28, 43);
    transition: color 0.8s;
}

.hero__button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 40px;
    background-color: rgb(252, 217, 128);
}

/* hero css end */

/* build css start */

.build {}

.build__container {
    display: flex;
    justify-content: center;
}

.build__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.build__title {
    margin-bottom: 20px;
    text-align: center;
}

.build__text {
    margin-bottom: 30px;
    text-align: center;
}


.build__link {
    display: inline-block;
    padding: 15px 60px;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    color: rgb(27, 28, 43);
    background-color: rgb(252, 217, 128);
}

/* build css end */